    <footer class="c-footer">
    <div>© 2020 <a style="color: #7162f2" href="https://www.anzus.life">ANZUSGaming</a>.</div>
    <div class="mfs-auto">Made by&nbsp;<a style="color: #7162f2" href="https://taxwax.me">Tax Wax</a> and <a style="color: #7162f2" href="https://cynet.me">Alex Hinkley</a></div>
    </footer>
    </div>
    </div>
<!-- Optional JavaScript -->
<!-- Popper.js first, then CoreUI JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
<script src="/js/coreui.bundle.js"></script>
</body>
</html>